:root {
    --navbar-background-color: #C73E1D;
    --navbar-font-color: #3B1F2B;
    --content-background-color: #58b476;
    --content-font-color: #3B1F2B;
}

.navbar {
    background-color: var(--navbar-background-color);
}

.navbar > .container {
    flex-direction: row;
    justify-content: center;
    background-color: var(--navbar-background-color);
}

.navbar > .container > a {
    color: var(--navbar-font-color);
}

#root {
    background-color: var(--content-background-color);
    height: 100vh;
    width: 100%;
}

#root > .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stop-sign {
    width: 20%;
    height: auto;
    margin-top: 2rem;
}

#root h4 {
    margin-top: 2rem;
    color: var(--content-font-color);
}